@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-josefin: var(--font-josefin);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-resolution-blue: #001140;
  --color-neutral-white: #ffffff;
  --color-neutral-black: #212121;
  --color-neutral-90: #26282b;
  --color-neutral-80: #454c53;
  --color-neutral-70: #72787f;
  --color-neutral-40: #e7e7e7;
  --color-neutral-30: #f4f4f4;
  --color-neutral-10: #f9f9f9;
  --color-blue-primary: rgba(64, 112, 230, 1);
  --color-blue-10: #e9f5fc;
  --color-green-10: #f1f7ec;
  --color-green-primary: #26a623;
  --color-amber-10: #fff9e9;
  --color-amber-100: #ffb800;
  --color-red-100: #ff3b30;
  --color-blue-light: rgba(0, 106, 255, 0.1);
  --color-calendar-bg: #fafbfb;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 1rem;
  --background: #ffffff;
  --foreground: #212121;
  --card: #ffffff;
  --card-foreground: #212121;
  --popover: #ffffff;
  --popover-foreground: #212121;
  --primary: rgba(64, 112, 230, 1);
  --primary-foreground: #ffffff;
  --secondary: #f9f9f9;
  --secondary-foreground: #212121;
  --muted: #f9f9f9;
  --muted-foreground: #72787f;
  --accent: #f9f9f9;
  --accent-foreground: #212121;
  --destructive: #ff3b30;
  --border: #e7e7e7;
  --input: #e7e7e7;
  --ring: rgba(64, 112, 230, 1);
  --chart-1: #ff3b30;
  --chart-2: #ffb800;
  --chart-3: rgba(64, 112, 230, 1);
  --chart-4: #26a623;
  --chart-5: #87dcbd;
  --sidebar: rgba(64, 112, 230, 1);
  --sidebar-foreground: #ffffff;
  --sidebar-primary: rgba(64, 112, 230, 1);
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f9f9f9;
  --sidebar-accent-foreground: rgba(64, 112, 230, 1);
  --sidebar-border: #e7e7e7;
  --sidebar-ring: rgba(64, 112, 230, 1);
  --font-inter: "Inter", sans-serif;
  --font-josefin: var(--font-josefin);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not([disabled]),
  [role="button"]:not([disabled]),
  div[role="menuitem"] {
    cursor: pointer !important;
  }
}

.boxWidth {
  width: 55%;
  /* margin: 0 auto; */
}

.btngray {
  background: #F5F5F5;
}

.mainsectionHeight {
  height: calc(100vh - 70px);
}

/* .backSection {
  position: relative;
  z-index: 1;
}

.backSection::before {
  position: absolute;
  content: '';
  background: lab(54.1736% 13.3368 -74.6839);
  width: 100%;
  position: absolute;
  right: -4px;
  height: 100%;
  top: 4px;
  z-index: -1;
} */